

.btn{
    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ownmenu .nav .dropdown-menu li:hover > a {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff !important;
}


.goldergradiant{

    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcfcfc, #f08a03);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcfcfc, #f08a03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.silvergraditant{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sticky-wrapper .logomain{
    height: 92px;
    margin-top: -25px;
    position: absolute;
}

.is-sticky .logomain{
    height: 59px;
    margin-top: -7px;
}



.header .navbar li a:before {
    position: absolute;
    left: 0px;
    bottom: 19px;
    height: 2px;
    width: 0px;
    background:none;
}

.goldtextcss a{
    color:	#D5AD6D; /*if no support for background-clip*/

}

.goldtextcsst{
    color:	#D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header  .nav>li>a:focus, .header .nav>li>a:hover {
    /* background: linear-gradient(to right, #eef2f3, #8e9eab); */
    background: url(https://img00.deviantart.net/9087/i/2012/169/7/8/golden_swirls_border_png_by_melissa_tm-d540ffo.png);
    background-size: 193px;
    background-position: -5px 55px;
    background-repeat: no-repeat;

}

.ownmenu .dropdown-menu li a:hover:before {
    width: 100%;
    background: #d6a600;
}

.ownmenu .nav .dropdown-menu {
    border: none;
    min-width: auto;
    margin-top: 0px;
    border-radius: 0px;
    padding: 10px 0px;
}

.oleofont{
    font-family: 'Oleo Script', cursive;

}

.goldline{
    background: url("../images/gold_line.png");
    /*background: url(../images/goldline.jpg);*/
    height: 28px;
    width: 100%;
    float: left;
    background-size: contain;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}

.goldline2{
    background: url("../images/gold_line2.png");
    background: url(../images/gold_line2.png);
    height: 28px;
    width: 100%;
    float: left;
    background-size: contain;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}

.goldline3{
    background: url("../images/gold_line3.png");
    background: url(../images/gold_line3.png);
    height: 128px;
    width: 100%;
    float: left;
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}

.acces-ser article:before {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(248, 171, 0, 0.41);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #b28c06;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    overflow: hidden;
}
.video_wrap {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 57%;
    left: 0;
    top: 0;
    z-index: -1;
}

.video_wrap > video {
    top: -10%;
}

.video_wrap > video, .iframe_video_wrap > iframe, .slider_video_wrap > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

heading-block hr {
    width: 85px;
    /* content: ""; */
    height: 50px;
    background: url(../images/goldline_6.png);
    border: none;
    margin: 20px auto;
    background-size: contain;
    margin-bottom: 0px;
    position: relative;
    margin-top: 8px;
}


.footer-shop h4:before {
    position: absolute;
    bottom: -18px;
    height: 14px;
    left: 0px;
    width: 30px;
    margin: 0 auto;
    background: none;
    content: "";
    background-size: cover;
}
.footer-shop h4:after {
    position: absolute;
    bottom: -20px;
    height: 24px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    background: url(../images/gold_line11.png);
    /* content: ""; */
    background-size: contain;
    float: left;
    background-repeat: no-repeat;
    background-position: center
}

.footer-shop h4 {
    font-size: 20px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
    text-align: center;
    color: #926400;
}

footer p {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

footer .links-footer li a {
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    text-align: center;
}

footer .social-links{
    float:right;
}

footer .social-links a {
    margin-left: 6px;
    padding-top: 5px;
    float: left;
    padding: 10px;
    border: 1px solid #f5bc71;
}

footer {
    background: #161409;
    padding: 50px 0;
}

.heading-block h3:after {
    bottom: -15px;
    height: 25px;
    left: 0px;
    width: 50px;
    background: #000000;
    content: "";
    right: 0px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background: url(../images/gold_line11.png);
    /* content: ""; */
    background-size: contain;
    float: left;
    background-repeat: no-repeat;
    background-position: center
}
.heading-block h3:before {
    bottom: -15px;
    height: 25px;
    left: 0px;
    width: 50px;
    background: none;

}


.shop-artical .btn {
    position: absolute;
    bottom: 0%;
    left: 62px;
}

.light-gray-bg article .imagblock {
    background: url(../images/productfram2.png);
    background-size: 101% 100%;
    padding: 10px;
    margin: 3px;
}

.shop-artical .item-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(240, 171, 20, 0.29);
    opacity: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 5px solid #b28c06;
}

.side-bar .heading h6:before  {
    position: absolute;
    bottom: -20px;
    height: 24px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    background: url(../images/gold_line11.png);
    /* content: ""; */
    background-size: contain;
    float: left;
    background-repeat: no-repeat;

}
.side-bar .heading h6:after  {
    position: absolute;
    bottom: -20px;
    height: 24px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    background:none;
}


.side-bar .heading h6{
    color: #b28c06;
}

.spacial_text {
    height: 355px;
}

.sub-bnr {
    min-height: 45px;
    background: #000000;
    position: relative;
    z-index: 1;
    margin-top: 25px;
}

.cart-img img {
    height: 48px;
    width: 48px;
}

header .user-basket .cart-img {
    width: 48px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
}

.scroll_items{
    max-height: 300px;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar{
    width: 7px;
    background: -webkit-gradient(linear,left top,right bottom,from(#d6a600),to(#ffffff));
    background:linear-gradient(top,#d6a600,#ffffff);
}
::-webkit-scrollbar-thumb{
    background:#f7f9f9;
}
::-webkit-input-placeholder{
    -webkit-transition:text-indent .5s ease,color .5s ease;
    color:#899096;
}

.cart_button{
    width: 60px;
    padding: 0px 10px;
    height: 20px;
    background: #D1913C;
}

.shopping-cart .cart-details li {
    padding: 10px 10px;
}

header .is-sticky .sticky .navbar li a {
    /*padding: 0;*/
}

.desing_view_button{
    margin-top: -10px;
    padding: 2px 10px;
    font-size: 10px;
    border: none;
}

.shopping-cart .cart-details li.quantity_li{
    padding: 10px 32px;
}

.custome_summary_popup tr{
    border-bottom: 1px solid;
}

.custome_summary_popup td{
    text-align: left;
    width: 50%;
    padding: 5px;

}

.custome_summary_popup th{
    text-align: right;
    text-align: right;
    padding-right: 12px;
    width: 50%;
    padding: 5px;
}

.custome_summary_popup table {
    width: 100%;
    font-size: 13px;
}

.swal2-container.swal2-fade {

    z-index: 999999;
}

.panel-heading {

    background: linear-gradient(to right, #FFD194, #D1913C);
}

.product-details2-area .product-details-tab-area ul > li {
    margin: -1px 0px;;
    display: inline-block;
    padding: 10px 0;
    background: #fccc8d;
}


.product-details2-area .product-details-tab-area ul > li.active {
    background: #d79947;
}

.product-details2-area .product-details-tab-area ul > li a{
    padding:10px;
}

.pricing article li i {
    margin-left: 0px;
    margin-right: 10px;
    color: rgba(0,0,0,0.3);
    line-height: 30px;
    float: left;
}

.pricing article li {
    list-style: none;
    line-height: 30px;
    color: #343538;
    text-align: left;
    padding: 0 10px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.pricing article {
    background: #fff;
    text-align: left;
    border: 1px solid #eeeeee;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 4px;

}

.order_box{

    height: 210px;

}


.bith_date_select{
    width: 28%!important;
    display: initial;
    padding: 3px;
}

.bith_date_select_year{
    width: 35%!important;
    display: initial;
    padding: 3px;
}

.login-registration-field label{
    margin-top: 15px;
}


.shop-content .col-md-9 .shop-artical .btn {
    left: 20px;
    padding: 10px 5px;
}
.shop-content .col-md-9 .shop-artical .by {
    left: auto;
    right: 20px;
}

b.extrapricesummry {
    color: red;
}

b.extrapricesummryorder {
    color: red;
    background: white;
    border-radius: 9px;
    padding: 2px;
}

.badgesum{
    font-size: 12px;
    font-weight: 500;
}
span.badge {
    margin-top: 6px;
    font-size: 11px;
    background: black;
}
@media only screen and (max-width: 768px) {

    .sticky-wrapper .logomain {
        height: 60px;

    }
    .products-container {
        margin-top: 100px;
    }
}

.search button {
    color: #202020;
    float: right;
    position: relative;
    margin-top: -30px;
    font-size: 14px;
    margin-right: 10px;
    background: none;
    border: none;
}


.search input {
    display: inline-block;
    width: 100%;
    border: none;
    height: 38px;
    padding: 0 20px;
    font-size: 12px;
    background: #f5f5f5;
}

.side-bar .cate li a.active {
    color: #333333;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
}